html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

hr {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-left: 25.58941%; }
  hr:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    hr {
      float: left;
      display: block;
      margin-right: 5.85151%;
      width: 89.41485%;
      margin-left: 5.29258%; }
      hr:last-child {
        margin-right: 0; } }

a {
  text-decoration: none;
  color: inherit; }

li {
  list-style: none; }

ul {
  padding: 0; }

body {
  margin: 5px;
  background: url("../assets/dirt-road.jpeg") center center no-repeat fixed;
  background-size: cover;
  color: white; }

.container {
  max-width: 965px;
  margin-left: auto;
  margin-right: auto; }
  .container::after {
    clear: both;
    content: "";
    display: table; }
  .container::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 480px) {
    .container {
      max-width: 480px;
      margin-left: auto;
      margin-right: auto; }
      .container::after {
        clear: both;
        content: "";
        display: table; } }

.social-buttons-wrapper::after {
  clear: both;
  content: "";
  display: table; }

@media screen and (max-width: 480px) {
  .social-buttons-wrapper {
    position: absolute;
    height: 0;
    overflow: hidden; } }

.social-buttons {
  position: relative;
  float: right;
  padding: 0;
  height: 65px; }

.social-button {
  display: inline-block;
  margin: 0 3px;
  border-radius: 3px;
  width: 65px;
  height: 65px;
  list-style: none;
  text-align: center;
  line-height: 65px;
  font-size: 2.5em; }

.social-button:hover .fa {
  transition: all 0.5s ease-in-out;
  opacity: 1; }

.facebook {
  position: relative;
  background-color: #445897; }

.twitter {
  background-color: #6a8dc7; }

.youtube {
  background-color: #b2382d; }

.fa {
  transition: all 0.25s ease-in-out;
  opacity: .3;
  color: white; }

header {
  width: 100%;
  position: relative;
  height: 500px; }
  @media screen and (max-width: 480px) {
    header {
      height: 250px; } }

.header-wrapper {
  width: 100%;
  position: relative;
  border: 3px solid #9a734e;
  border-radius: 5px;
  background: url("../assets/woods.jpeg") center center no-repeat;
  background-size: cover;
  height: 500px; }
  .header-wrapper::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 480px) {
    .header-wrapper {
      width: 100%;
      margin-left: 0%;
      height: 250px; } }

.logo-wrapper {
  height: 12.5em;
  width: 12.5em;
  position: absolute;
  top: 50%;
  left: 210px;
  transform: translate(-50%, -50%);
  border: 2px solid #9a734e;
  border-radius: 100%;
  background-color: #27290e; }
  @media screen and (max-width: 480px) {
    .logo-wrapper {
      height: 6.25em;
      width: 6.25em;
      top: 25%;
      left: 50%; } }

.logo {
  height: 9.375em;
  width: 9.375em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: invert(100%); }
  @media screen and (max-width: 480px) {
    .logo {
      height: 4.6875em;
      width: 4.6875em; } }

.logo-text {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  position: absolute;
  top: 50%;
  left: 345px;
  transform: translateY(-50%);
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  text-shadow: none;
  color: #1c260d;
  font-family: "Montserrat", sans-serif;
  font-size: 5em; }
  .logo-text:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .logo-text {
      float: left;
      display: block;
      margin-right: 5.85151%;
      width: 100%;
      margin-left: 0%;
      position: absolute;
      top: auto;
      bottom: 10px;
      left: 50%;
      transform: translate(-50%, 0);
      text-align: center;
      font-size: 3em; }
      .logo-text:last-child {
        margin-right: 0; } }

.logo-text > span {
  color: white; }

@media screen and (max-width: 480px) {
  .nav-bar-wrapper {
    float: left;
    display: block;
    margin-right: 5.85151%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; }
    .nav-bar-wrapper:last-child {
      margin-right: 0; } }

.hamburger {
  position: absolute;
  height: 0;
  overflow: hidden;
  font-size: 2.5em; }
  @media screen and (max-width: 480px) {
    .hamburger {
      top: 10px;
      left: 10px;
      height: auto; } }

.fa-bars {
  opacity: 1; }

.nav-bar {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-top: 5px;
  border: 3px solid #9a734e;
  border-radius: 5px;
  background-color: #36471b; }
  .nav-bar:last-child {
    margin-right: 0; }
  .nav-bar::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 480px) {
    .nav-bar {
      float: left;
      display: block;
      margin-right: 5.85151%;
      width: 89.41485%;
      margin-left: 10.58515%;
      position: absolute;
      border: 0;
      height: 0;
      overflow: hidden; }
      .nav-bar:last-child {
        margin-right: 0; } }

.nav-links {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  padding: 2.35765%; }
  .nav-links:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .nav-links {
      float: left;
      display: block;
      margin-right: 6.54422%;
      width: 100%; }
      .nav-links:last-child {
        margin-right: 0; } }

.nav-link {
  width: 100%;
  position: relative;
  border-right: 1px solid white;
  border-left: 1px solid white;
  height: 50px;
  text-align: center;
  text-transform: uppercase;
  line-height: 50px;
  color: white; }

.nav-link::after {
  position: absolute;
  top: 0;
  right: 50%;
  bottom: 0;
  left: 50%;
  transition: all 0.5s ease-in-out;
  background-color: transparent;
  content: ''; }

.nav-link:hover::after {
  right: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
  background-color: rgba(255, 255, 255, 0.1); }

.nav-bar-wrapper:hover .nav-bar {
  height: auto; }

.main-container {
  width: 100%;
  margin-top: 110px;
  border: 3px solid #9a734e;
  border-radius: 5px;
  background-color: #36471b;
  letter-spacing: 1px;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: 400; }
  .main-container::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 480px) {
    .main-container {
      margin-top: 40px; } }

.subtitle-wrapper {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 91.4702%;
  margin-left: 4.2649%;
  padding-top: 10px;
  height: 300px; }
  .subtitle-wrapper:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .subtitle-wrapper {
      float: left;
      display: block;
      margin-right: 5.85151%;
      width: 100%;
      margin-left: 0%;
      height: 220px; }
      .subtitle-wrapper:last-child {
        margin-right: 0; } }

.subtitile {
  float: left;
  display: block;
  margin-right: 2.57751%;
  width: 48.71125%;
  position: relative;
  background: #36471b;
  padding: 40px;
  text-align: center; }
  .subtitile:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .subtitile {
      float: left;
      display: block;
      margin-right: 5.85151%;
      width: 78.8297%;
      margin-left: 10.58515%;
      padding: 20px; }
      .subtitile:last-child {
        margin-right: 0; } }

.subtitle-image {
  float: left;
  display: block;
  margin-right: 2.57751%;
  width: 48.71125%;
  border: 3px solid #9a734e;
  border-radius: 5px; }
  .subtitle-image:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .subtitle-image {
      border: 0;
      height: 0;
      overflow: hidden; } }

.image-wrapper {
  height: 0;
  overflow: hidden; }
  .image-wrapper::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 480px) {
    .image-wrapper {
      float: left;
      display: block;
      margin-right: 5.85151%;
      width: 100%;
      height: auto; }
      .image-wrapper:last-child {
        margin-right: 0; } }

.images {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  padding: 2.35765%;
  position: relative;
  margin-top: 3.125em;
  margin-bottom: 3.125em;
  height: 280px;
  overflow: hidden; }
  .images:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .images {
      float: left;
      display: block;
      margin-right: 5.85151%;
      width: 100%;
      margin-top: 0;
      margin-bottom: 0.625em; }
      .images:last-child {
        margin-right: 0; } }

.image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1.5, 1.5) translate(-50%, -50%);
  height: 100%; }
  @media screen and (max-width: 480px) {
    .image {
      width: 100%;
      height: auto; } }

.article-wrapper {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 91.4702%;
  margin-left: 4.2649%; }
  .article-wrapper:last-child {
    margin-right: 0; }
  .article-wrapper::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 480px) {
    .article-wrapper {
      height: 0;
      overflow: hidden; } }

.article-image {
  float: left;
  display: block;
  margin-right: 2.57751%;
  width: 48.71125%;
  border: 3px solid #9a734e;
  border-radius: 5px; }
  .article-image:last-child {
    margin-right: 0; }

.article {
  float: left;
  display: block;
  margin-right: 2.57751%;
  width: 48.71125%;
  position: relative;
  height: 260px;
  text-align: center;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif; }
  .article:last-child {
    margin-right: 0; }

.article-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.contact-wrapper,
.contact-text,
.contact-phone,
.contact-email {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  text-align: center; }
  .contact-wrapper:last-child,
  .contact-text:last-child,
  .contact-phone:last-child,
  .contact-email:last-child {
    margin-right: 0; }

.contact-wrapper {
  padding-top: 20px; }

.contact-social-buttons-wrapper {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-left: 25.58941%;
  text-align: center; }
  .contact-social-buttons-wrapper:last-child {
    margin-right: 0; }

.contact-social-buttons {
  padding: 0;
  height: 65px; }

.contact-social-button {
  display: inline-block;
  margin: 0 3px;
  border-radius: 2px;
  width: 40px;
  height: 40px;
  list-style: none;
  text-align: center;
  line-height: 40px;
  font-size: 2em; }

.contact-social-button:hover .fa {
  transition: all 0.5s ease-in-out;
  opacity: 1; }

.footer-image {
  width: 100%;
  position: relative;
  margin-top: 5px;
  border: 3px solid #9a734e;
  border-radius: 5px;
  background: url("../assets/dirt-path.jpg") center center no-repeat;
  background-size: cover;
  height: 200px; }
  .footer-image::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 480px) {
    .footer-image {
      width: 100%;
      margin-left: 0%;
      height: 100px; } }

footer {
  width: 100%;
  margin-top: 5px;
  border: 3px solid #9a734e;
  border-radius: 5px;
  background-color: #36471b;
  text-align: center;
  font-size: 0.75em; }
