@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

// ---------------Colors--------------------- //
$logo: #27290e;
$logo-text: #1c260d;
$highlight: white;
$background: #4a4e1e;
$text: white;
$outline: black;
$accent1: rgba(95, 71, 48, 1);
$accent2: rgba(154, 115, 78, 1);

// -------------Breakpoints--------------- //
$mobile: new-breakpoint(max-width 480px 5);

// ----------------Global Rules--------------- //
hr {
  @include span-columns(6);
  @include shift(3);

  @include media($mobile) {
    @include span-columns(4.5);
    @include shift(.25);
  }
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

// -----------------Body Margin-------------- //
body {
  margin: 5px;
  // background: url('../assets/dirt-road.jpeg') center center no-repeat fixed;
  // background-size: cover;

  // text-shadow: 1px 1px 0 $outline,
  // -1px -1px 0 $outline,
  // 1px -1px 0 $outline,
  // -1px 1px 0 $outline,
  // 0 1px 0 $outline,
  // 1px 0 0 $outline,
  // 0 -1px 0 $outline,
  // -1px 0 0 $outline;
  color: $accent2;
}

// --------------Overall Container----------- //
.container {
  @include outer-container(965px);
  @include clearfix;

  @include media($mobile) {
    @include outer-container(480px);
  }
}

// ---------------Header------------------ //
header {
  @include fill-parent();
  position: relative;

  height: 500px;

  @include media($mobile) {
    height: 250px;
  }
}

.header-wrapper {
  @include fill-parent();
  @include clearfix;

  position: relative;

  border: 3px solid $accent2;
  border-radius: 5px;

  background: url('../assets/woods.jpeg') center center no-repeat;
  background-size: cover;

  height: 500px;

  @include media($mobile) {
    @include fill-parent();
    @include shift(0);

    height: 250px;
  }
}

.logo-wrapper {
  @include size(em(200) em(200));
  position: absolute;
  top: 50%;
  left: 210px;
  transform: translate(-50%, -50%);

  border: 2px solid $accent2;
  border-radius: 100%;
  background-color: $logo;

  @include media($mobile) {
    @include size(em(100) em(100));
    top: 25%;
    left: 50%;
  }
}

.logo {
  @include size(em(150) em(150));
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  filter: invert(100%);

  @include media($mobile) {
    @include size(em(75) em(75));
    // top: 20%;
    // left: 50%;
  }
}

.logo-text {
  @include span-columns(6);

  position: absolute;
  top: 50%;
  left: 345px;
  transform: translateY(-50%);

  margin-top: 0;
  margin-bottom: 0;

  text-transform: uppercase;
  text-shadow: none;
  color: $logo-text;
  font-family: "Montserrat", sans-serif;
  font-size: 5em;

  @include media($mobile) {
    @include span-columns(5);
    @include shift(0);

    position: absolute;
    top: auto;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);

    text-align: center;
    font-size: 3em;
  }
}

.logo-text > span {
  color: $highlight;
}

// -----------------Nav-Bar--------------- //
.nav-bar {
  @include span-columns(12);
  @include clearfix;
  margin-top: 5px;
  border: 3px solid $accent2;
  border-radius: 5px;
  background-color: $background;
}

.nav-links {
  @include span-columns(3);
  @include pad();
}

.nav-link {
  @include fill-parent();

  border-right: 1px solid $highlight;
  border-left: 1px solid $highlight;

  height: 50px;

  text-align: center;
  text-transform: uppercase;
  line-height: 50px;
  color: $highlight;
}

// ------------------Subtitle---------------- //
.subtitle-wrapper {
  @include fill-parent();
}

.subtitile {
  @include span-columns(6);
  @include shift(3);

  position: relative;

  border: 3px solid $accent2;

  background: $background;

  padding: 40px;

  text-align: center;

  @include media($mobile) {
    @include span-columns(4);
    @include shift(.5);
  }
}

// ------------------Images Row/Stack-------------- //
.image-wrapper {
  @include fill-parent();
  @include row(table);
  @include clearfix;



  padding: 0;
}

.images {
  @include span-columns(4);
  @include pad();
  position: relative;

  margin-top: em(50);
  margin-bottom: em(50);

  height: 280px;
  overflow: hidden;

  @include media($mobile) {
    @include span-columns(5);

    margin-bottom: em(10);
  }
}

.image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1.5, 1.5) translate(-50%, -50%);
  height: 100%;
  // min-height: 200px;

  // @include media($mobile) {
  //   width: auto;
  //   height: 100%;
  // }
}

// -------------------Article--------------------- //
.article-wrapper {
  @include fill-parent();
  @include clearfix;

  @include media($mobile) {
    height: 0;
    overflow: hidden;
  }
}

.article {
  @include span-columns(10);
  @include shift(1);

  text-align: center;
  font-family: $helvetica;
}

// ------------------Contact Us Section---------------- //
.contact-wrapper,
.contact-text,
.contact-phone,
.contact-email {
  @include fill-parent();

  text-align: center;
}

// ----------------------Footer----------------- //
footer {
  @include fill-parent();

  text-align: center;
}
